<!DOCTYPE html>
<html class="<%=controller.controller_name %>">
<head>
  <title>Admin | Digital Signage</title>

  <script src="https://use.typekit.net/tnm5mls.js"></script>
  <script>try{Typekit.load({ async: false });}catch(e){}</script>

  <%= stylesheet_link_tag    'admin', media: 'all' %>
  <%= javascript_include_tag 'admin' %>

  <%= csrf_meta_tags %>
</head>
<body data-controller-action="<%= controller_action %>">
<div class="body-wrapper">
  <%= render 'layouts/navbar' %>

  <%= display_flashes %>

  <div class="admin-content">
    <%= yield %>
  </div>

  <div class="admin-footer">
    <p><strong>Digital Signage:</strong> A web product by Chapman University</p>
    <p>Report bugs to <a href="mailto:loehner@chapman.edu">Ross (loehner@chapman.edu)</a></p>
  </div>

  <%= render "layouts/loading_feedback" %>
</div>
</body>
</html>
